.progress-bar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  border: 1px solid $dark;
  width: 80%;
  display: flex;
  margin-bottom: 20px;
}

.progress-bar__progress {
  width: 0;
  height: 100%;
  padding: 4px 10px;
  background: $primary-color;
  // color: $background-color;
  color: $dark;
  // text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: width 1.5s ease-in-out;
}

.progress-bar__number {
  display: none;
}
